<div id="project">
<form id="updateform" action="{{ actionurl }}" method="post">
    <p>
    <label class="formlabel" for="projectname">Name: </label> <br>
    <input type="text"
           class="forminput"
           id="projectname"
           name="projectname"
           value="{{projectname}}"><br>
    <label class="formlabel" for="description">Description: </label> <br>
    <input type="text"
           class="forminput"
           id="description"
           name="description"
           value="{{description}}"><br>
    <label class="formlabel" for="token">Token: </label> <br>
    <input type="text"
           class="forminput"
           id="token"
           name="token"
           value="{{token}}"><br>
    <label class="formlabel" for="projecturl">URL: </label> <br>
    <input type="text"
           class="forminput"
           id="projecturl"
           name="projecturl"
           value="{{projecturl}}"><br>
    <input type="submit" value="Save"> <input type="reset">
    </p>
 </form>

    <div id="newagentlink">New Agent</div> <br>

    <div id="agents">
    {{#boolagents}} Agents:
    {{/boolagents}}
    {{#agents}}
    <div class="agent" id="{{name}}" project="{{projectname}}">
    <hr class="agentsepline" />
    <div class="deleteagent" id="remove-agent-{{name}}">
      <img class="deleteimage" src="/images/delete.png"/>
    </div>
    <p class="formlabel"><span class="agentlabel">Name: </span>{{name}}</p>
    <p class="formlabel"><span class="agentlabel">Description: </span>{{description}}</p>
    <p class="formlabel"><span class="agentlabel">Callback: </span>{{callback}}</p>
    <p class="formlabel"><span class="agentlabel">Url: </span>{{url}}</p>
    <p class="formlabel"><span class="agentlabel">Status: </span>{{status}}</p>
    <hr class="agentsepline" />
    </div>
    {{/agents}}
    </div>


    <div id="newagentdiv"> </div>

</div>
