<div id="project">
<form id="updateform" action="{{ actionurl }}" method="post">
    <p>
    <label class="formlabel" for="projectname">Name: </label> <br>
    <input type="text"
           class="forminput"
           id="projectname"
           name="projectname"
           value="{{projectname}}"><br>
    <label class="formlabel" for="description">Description: </label> <br>
    <input type="text"
           class="forminput"
           id="description"
           name="description"
           value="{{description}}"><br>
    <label class="formlabel" for="token">Token: </label> <br>
    <input type="text"
           class="forminput"
           id="token"
           name="token"
           value="{{token}}"><br>
    <label class="formlabel" for="projecturl">URL: </label> <br>
    <input type="text"
           class="forminput"
           id="projecturl"
           name="projecturl"
           value="{{projecturl}}"><br>

    <div id="newagentlink">New Agent</div> <br>

    {{#boolagents}} Agents: {{/boolagents}}

    {{#agents}}
    <div class="agent" id="{{name}}">
    <label class="formlabel agents" for="agentname">Name: </label> <br>
    <input type="text"
           class="forminput"
           id="agentname"
           name="agentname"
           value="{{name}}"><br>
    <label class="formlabel agents" for="description">Description: </label> <br>
    <input type="text"
           class="forminput"
           id="description"
           name="description"
           value="{{description}}"><br>
    <label class="formlabel agents" for="callback">Token: </label> <br>
    <input type="text"
           class="forminput"
           id="callback"
           name="token"
           value="{{callback}}"><br>
    <label class="formlabel agents" for="agenturl">URL: </label> <br>
    <input type="text"
           class="forminput"
           id="agenturl"
           name="agenturl"
           value="{{url}}"><br>

    </div>
    {{/agents}}


    <input type="submit" value="Save"> <input type="reset">
    </p>
 </form>
    <div id="newagentdiv"> </div>

</div>
